<!DOCTYPE html>
<html>

<head>
    <title>LODMusic</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="utf-8">
    <meta name="author" content="">
    <!--[if IE]>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <!-- Favicons -->
    <link rel="shortcut icon" href="favicon.ico">
    <!-- CSS -->
    <%- include blocks/styles %>
    <link rel="stylesheet" href="css/vis-network.min.css">
    <style>
        html {
            overflow: hidden;
        }
    </style>
</head>

<body class="appear-animate">

<div class="page-loader">
    <div class="loader">Loading...</div>
</div>

<div class="page" id="top">

    <section class="home-section bg-dark parallax-1">
        <div class="message_wrapper">
            <div class="message alert">
                <i class="fa fa-lg fa-comments-o"></i> <span></span>
            </div>
            <div class="message-sticky alert">
                <span></span>
            </div>
        </div>
        <div class="js-height-full" id="graph">

        </div>
    </section>
    <nav class="main-nav dark transparent stick-fixed">
        <%- include( 'blocks/menu.ejs', {theme: "white"}) %>
    </nav>

</div>

<%- include blocks/scripts %>
<script type="text/javascript" src="js/lib/vis-network.min.js"></script>


<script type="text/javascript">
	js_height_init()
	var container = document.getElementById('graph');

	var graph = {
		nodes: new vis.DataSet(),
		edges: new vis.DataSet()
	};
	var options = {
		nodes: {
			shape: "dot",
			font: {face: "Dosis, arial, sans-serif", color: "#fff"},
			borderWidth: 2,
			brokenImage: undefined,
			chosen: true,
			color: {
				border: '#d7d7d7',
				background: '#1a1a1a',
				highlight: {
					border: '#b4b4b4',
					background: '#e9e9e9'
				},
				hover: {
					border: '#bebebe',
					background: '#404040'
				}
			},
			shapeProperties: {
				useBorderWithImage: true,
				borderRadius: 50
			}

		}
	};
	var network = new vis.Network(container, graph, options);


	if (<%= uri != null %>)
		getInfo('<%= uri %>')
	else
		graph.nodes.add({id: 0, label: 'No resource found'})

	network.on('click', function (prop) {
		var node = graph.nodes.get(prop.nodes[0]);
		if (node.id) {
			console.log(node)
			stickyMessage.show(`<a target="_blank" href="resource?resourceType=${node.type}&uri=${encodeURIComponent(node.id)}">
${node.image ? `<img src=" ${node.image}"/>` : ''}
<i class="fa fa-lg fa-comments-o"></i> ${node.label} </a>`)
		}
		else {
			stickyMessage.hide()
		}

	});
	network.on('doubleClick', function (prop) {
		var node = graph.nodes.get(prop.nodes[0]);
		if (node.id) {
			console.log("Clicked node: ", node);
			getInfo(node.id)
		}
		else {
			console.log("Clicked empty area");
		}
	});

	function message(text) {
		$(".message span").html(text)
		$(".message").fadeIn(300).delay(1000).fadeOut(500);
	}
	var stickyMessage = {
		show: function (text) {
			$(".message-sticky span").html(text)
			$(".message-sticky").fadeIn(300);
		},
		hide: function () {
			$(".message-sticky").fadeOut(500);
		}
	}

	function getInfo(uri) {
		$.ajax({
			url: "/api/related",
			dataType: "json",
			data: {
				uri: uri
			},
			beforeSend: function () {
				message("Loading related resources...");
			},
			success: function (data) {
				if (data) {
					var id = uri;
					var name = data.name.value;
					var node = {id: id, label: data.name.value, type: data.type};

					if (data.image && data.image.value) {
						var img = data.image.value;
						Object.assign(node, {shape: "circularImage", image: img});
					}
					if (!has.Node(node))
						graph.nodes.add(node)

					if (data.artistRelateds || data.bandRelateds) {
						var artistRelateds = data.artistRelateds ? data.artistRelateds.value.split("(.)(.)") : [];
						var bandRelateds = data.bandRelateds ? data.bandRelateds.value.split("(.)(.)") : [];
						artistRelateds.concat(bandRelateds).forEach(function (rel_uri) {
							$.ajax({
								url: "/api/related",
								dataType: "json",
								data: {
									uri: rel_uri
								},
								success: function (r) {
									if (r.name) {
										var node = {id: rel_uri, label: r.name.value, type: r.type};
										if (r.image && r.image.value) {
											var img = r.image.value;
											Object.assign(node, {shape: "circularImage", image: img});
										}
										var edge = {from: uri, to: rel_uri};
										if (!has.Node(node)) {
											graph.nodes.add(node)
										}
										if (!has.Edge(edge))
											graph.edges.add(edge)

									}
								}
							});
						});
					} else {
						message("No related resource")

					}
				}
				else {
					message("No resource found")
				}
			}
		}).fail(function (e) {
			message(e);
		})
	}


	var has = {
		Node: function (node) {
			return Object.keys(graph.nodes._data).indexOf(node.id) >= 0;
		},
		Edge: function (edge) {
			var [s, t] = [edge.from, edge.to]
			for (var k in graph.edges._data) {
				var from = graph.edges._data[k].from;
				var to = graph.edges._data[k].to;
				if ((s === from && t === to) || (s === to && t === from)) {
					//console.log("edge " + s, t + "exists")
					return true;
				}
			} //console.log("edge " + s, t + " do not exists")
			return false;
		}
	}


</script>
</body>
</html>