<!DOCTYPE html>
<html>

<head>
    <title>LODMusic</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <!-- Favicons -->
    <link rel="shortcut icon" href="favicon.ico">
    <!-- CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style-responsive.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/vertical-rhythm.min.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body class="appear-animate resourcePage">
<!-- Page Loader -->
<div class="page-loader">
    <div class="loader">Loading...</div>
</div>
<!-- End Page Loader -->
<!-- Page Wrap -->
<div class="page" id="top">
    <!-- Navigation panel -->
    <nav class="main-nav js-stick">
        <%- include( 'blocks/menu.ejs', {theme: "dark"}) %>
    </nav>
    <!-- End Navigation panel -->
    <!-- Head Section -->
    <section class="page-section bg-dark resource_background" data-resource="background_image">
        <div class="relative container align-left">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="hs-line-11 no-transp font-alt mb-20 mb-xs-0" data-resource="name"></h1>
                    <div class="hs-line-4 font-alt"><a data-resource="website" href=""></a></div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Head Section -->
    <!-- Section -->
    <section class="page-section">
        <div class="container relative">
            <div class="row alt-features-grid mb-80 mb-xs-40">
                <div class="col-sm-8">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-descr align-left">
                            <h2 class="mt-0 font-alt">About</h2>
                            <span data-resource="abstract"></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4"><p data-resource="image2"></p><img src="images/resource_img.png"
                                                                         data-resource="image"/>
                </div>
            </div>
            <hr class="mb-70 mb-xs-30"/>
            <!-- End Divider -->
            <div class="section-text mb-60 mb-sm-40">
                <div class="row">
                    <div class="col-md-12 mb-sm-50 mb-xs-30">
                        <!-- Project Detail -->
                        <div class="work-detail">
                            <h2 class="font-alt mt-0 mb-20">Details</h2>
                            <div class="work-full-detail" id="details">
                            </div>
                        </div>
                        <!-- End Project Detail -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section -->
    <!-- Blog Section -->
    <section class="page-section" id="news">
        <div class="container relative">
            <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
                Related artists
            </h2>
            <div class="row multi-columns-row">
                <!-- Post Item -->
                <div class="col-sm-6 col-md-4 col-lg-4 mb-md-50 wow fadeIn" data-wow-delay="0.1s"
                     data-wow-duration="2s">
                    <div class="post-prev-img">
                        <a href="blog-single-sidebar-right.html"><img
                                    src="http://commons.wikimedia.org/wiki/Special:FilePath/Gerry_Mulligan_by_Erling_Mandelmann.jpg?width=300"
                                    alt=""/>
                        </a>
                    </div>
                    <div class="post-prev-title font-alt"><a href="">Gerry Mulligan</a></div>
                    <div class="post-prev-text"> Maecenas volutpat, diam enim sagittis quam, id porta quam. Sed id dolor
                        consectetur fermentum nibh volutpat, accumsan purus.
                    </div>
                </div>
                <!-- End Post Item -->
                <!-- Post Item -->
                <div class="col-sm-6 col-md-4 col-lg-4 mb-md-50 wow fadeIn" data-wow-delay="0.2s"
                     data-wow-duration="2s">
                    <div class="post-prev-img">
                        <a href="blog-single-sidebar-right.html"><img
                                    src="http://commons.wikimedia.org/wiki/Special:FilePath/Art_Pepper.jpg?width=300"
                                    alt=""/>
                        </a>
                    </div>
                    <div class="post-prev-title font-alt"><a href="">Art Pepper</a></div>
                    <div class="post-prev-text"> Maecenas volutpat, diam enim sagittis quam, id porta quam. Sed id dolor
                        consectetur fermentum nibh volutpat, accumsan purus.
                    </div>
                </div>
                <!-- End Post Item -->
                <!-- Post Item -->
                <div class="col-sm-6 col-md-4 col-lg-4 mb-md-50 wow fadeIn" data-wow-delay="0.3s"
                     data-wow-duration="2s">
                    <div class="post-prev-img">
                        <a href="blog-single-sidebar-right.html"><img
                                    src="http://commons.wikimedia.org/wiki/Special:FilePath/Dizzy_Gillespie01.JPG?width=300"
                                    alt=""/>
                        </a>
                    </div>
                    <div class="post-prev-title font-alt"><a href="">Dizzy Gillespie</a></div>
                    <div class="post-prev-text"> Maecenas volutpat, diam enim sagittis quam, id porta quam. Sed id dolor
                        consectetur fermentum nibh volutpat, accumsan purus.
                    </div>
                </div>
                <!-- End Post Item -->
            </div>
        </div>
    </section>
    <!-- End Blog Section -->
    <!-- Divider -->
    <hr class="mt-0 mb-0 "/>
    <!-- End Divider -->
    <%- include blocks/footer %>
</div>
<!-- End Page Wrap -->
<%- include blocks/scripts %>

<script type="text/javascript">

    $.ajax({
        url: "/api/<%= resourceType || null %>/",
        dataType: "json",
        data: {
            uri: '<%= uri || null %>'
        },
        success: function (data) {
            $(".page-loader div").fadeOut();
            $(".page-loader").delay(200).fadeOut("slow");
            if (data.results.bindings.length > 0) {
                var props = data.results.bindings[0];
                $.each(props, function (k, v) {
                    var value = v.value;
                    // se URL
                    if (value.match(/^http([s]?):\/\/.*/))
                        value = '<a href="' + value + '">' + value + '</a>';
                    $('[data-resource=' + k + ']').html(value);
                    $("#details").append(
                        `<div class="row">
					     <div class="col-md-4"><strong>${k}</strong></div>
				         <div id="${k}_tab" class="col-md-8"> ${value}</div>
				         </div>`);
                });
                if (data.results.bindings[0].image) {
                    $('[data-resource=image]').attr('src', data.results.bindings[0].image.value);
                    $('[data-resource=background_image]').css({'background-image': `url(${data.results.bindings[0].image.value.split("?")[0]})`})
                }
            }
            else $('[data-resource=name]').html("No resource found")
        }
    }).fail(function (e) {
        console.log("error " + e);
    })

</script>
</body>

</html>