<!DOCTYPE html>
<html>

<head>
    <title>LODMusic</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <!-- Favicons -->
    <link rel="shortcut icon" href="favicon.ico">
    <!-- CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style-responsive.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/vertical-rhythm.min.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body class="appear-animate resourcePage">
<!-- Page Loader -->
<div class="page-loader">
    <div class="loader">Loading...</div>
</div>
<!-- End Page Loader -->
<!-- Page Wrap -->
<div class="page" id="top">
    <!-- Navigation panel -->
    <nav class="main-nav js-stick">
        <%- include( 'blocks/menu.ejs', {theme: "dark"}) %>
    </nav>
    <!-- End Navigation panel -->
    <!-- Head Section -->
    <section class="page-section bg-dark resource_background" data-resource="background_image">
        <div class="relative container align-left">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="hs-line-11 no-transp font-alt mb-20 mb-xs-0" data-resource="name"></h1>
                    <div class="hs-line-4 font-alt"><a data-resource="website" href=""></a></div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Head Section -->
    <!-- Section -->
    <section class="small-section">
        <div class="container relative"><h2 class="mt-0 font-alt">About</h2>
            <div class="alt-features-item abstract">
                <div class="alt-features-descr">
                    <div class="work-item mix photography" style="display: none">
                        <a href="#" class="work-lightbox-link mfp-image">
                            <div class="work-img">
                                <img data-resource="image"/>
                            </div>
                            <div class="work-intro">
                                <h3 class="work-title" data-resource="name"></h3>
                                <div class="work-descr" data-resource="caption">
                                </div>
                            </div>
                        </a>
                    </div>
                    <span data-resource="abstract"></span>
                    <div id="tmpl"></div>
                </div>

            </div>

            <hr class="mb-70 mb-xs-30"/>
            <!-- End Divider -->
            <div class="section-text mb-60 mb-sm-40">
                <div class="row">
                    <div class="col-md-12 mb-sm-50 mb-xs-30">
                        <!-- Project Detail -->
                        <div class="work-detail">
                            <h2 class="font-alt mt-0 mb-20">Details</h2>
                            <div class="work-full-detail" id="details">
                            </div>
                        </div>
                        <!-- End Project Detail -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section -->
    <section class="small-section" id="related_wrapper" style="display: none;">
        <div class="container relative">
            <h2 class="font-alt mt-0 mb-20">Related artists</h2>
            <div id="related">
            </div>
        </div>
    </section>
    <!-- Divider -->
    <hr class="mt-0 mb-0 "/>
    <!-- End Divider -->
    <%- include blocks/footer %>
</div>
<!-- End Page Wrap -->
<%- include blocks/scripts %>

<script type="text/javascript">

	$.ajax({
		url: "/api/<%= resourceType || null %>/",
		dataType: "json",
		data: {
			uri: '<%= uri || null %>'
		},
		success: function (data) {
			$(".page-loader div").fadeOut();
			$(".page-loader").delay(200).fadeOut("slow");
			var props = data.results.bindings[0];

			if (data.results.bindings.length > 0) {
				$.each(props, function (k, v) {
					var value = v.value;
					if (value.match(/^http([s]?):\/\/.*/)) {
						var splitted = value.split("(.)(.)");
						value = "";
						splitted.forEach(function (entry) {
							value = value + '<a href="' + entry + '">' + entry + '</a><br />';
						});
					}
					$('[data-resource=' + k + ']').html(value);
					$("#details").append(
						`<div class="row">
                             <div class="col-md-4"><strong>${k}</strong></div>
                             <div id="${k}_tab" class="col-md-8"> ${value}</div>
				         </div>`);
				});
				if (props.image) {
					$('.photography').show();
					var fullimage = props.image.value.split("?")[0];
					$('[data-resource=image]').attr('src', props.image.value);
					$('[data-resource=background_image]').css({'background-image': `url(${fullimage})`})
					$('.work-lightbox-link').attr("href", fullimage);
				}
				if (props.artistRelateds || props.bandRelateds) {
					$('#related_wrapper').show();
					var tmpl = $.templates("#relatedItem");
					var artistRelateds = props.artistRelateds ? props.artistRelateds.value.split("(.)(.)") : [];
					var bandRelateds = props.bandRelateds ? props.bandRelateds.value.split("(.)(.)") : [];
					artistRelateds.concat(bandRelateds).forEach(function (uri) {
						$.ajax({
							url: "/api/related",
							dataType: "json",
							data: {
								uri: uri
							},
							success: function (r) {
								if (r.name) {
									r.url = `resource?resourceType=${r.type}&uri=${encodeURIComponent(uri)}`
									$('#related').append(tmpl.render(r));
								}
							}
						});
					});
				}
			}
			else $('[data-resource=name]').html("No resource found")
		}
	}).fail(function (e) {
		console.log(e);
	})

	function urlExists(url, cb) {
		$.ajax({
			url: url,
			type: 'GET',
			crossDomain: true,
			dataType: 'jsonp',

			complete: function (xhr) {
				if (typeof cb === 'function')
					cb.apply(this, [xhr.status]);
			}
		});
	}
</script>

<%- include blocks/related.ejs %>

</body>
</html>